<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/assets/jquery/jquery.js"></script>
    <script src="/js/scripts.js"></script>

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/popper.min.js"></script>

    {{!-- Select2 --}}
    <link rel="stylesheet" href="/assets/select2/select2.min.css">
    <script src="/assets/select2/select2.full.min.js"></script>

</head>

<body>